<!-- Hero Section -->
<section class="hero" [@fadeInHero]></section>

<!-- Scripture Banner -->
<section class="scripture-banner" [@fadeUp]>
  <div class="container">
    <h2>
      “Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.”
    </h2>
    <p class="reference">— Matthew 28:19–20 (ESV)</p>
  </div>
</section>

<!-- Welcome Section -->
<section class="welcome">
  <div class="container">
    <div class="welcome-content">
      <div class="text">
        <h3>~~~~Welcome~~~~</h3>
        <h1>
          We exist to <span class="highlight">worship</span> the Lord, 
          <span class="highlight">share</span> His truth, 
          and <span class="highlight">equip</span> His people for every good work.
        </h1>
        <p>
          Filipino International Baptist Church (FIBC) is a family-oriented church that reaches out to Louisville
          with the love of Christ. Come and join in what is happening at FIBC.
         </p>
          <button routerLink="/about" class="btn btn-primary">
            Learn More About Us
          </button>
      </div>
      <div class="image">
        <img src="assets/images/fibc-group.jpg" alt="FIBC church family group" />
      </div>
    </div>
  </div>
</section>
